@use 'sass:map';
@use '../abstract/mixin' as mixin;

// Button
@function create-button-config(
  $border-radius: 0.25rem,
  $border-width: 1px,
  $border-style: none,
  $padding: 0.5em 1.2em,
  $cursor: pointer
) {
  @return ($border-radius, $border-width, $border-style, $padding, $cursor);
}

@mixin create-button(
  $theme,
  $border-radius,
  $border-width,
  $border-style,
  $padding,
  $cursor
) {
  $colors: map.get($theme, colors);
  $button-contrast-colors: map.get($theme, button-contrast-colors);

  @include mixin.create-color-modifier(btn, $colors);
  @include mixin.create-color-modifier(btn, $button-contrast-colors, color);
  @include mixin.create-color-modifier(btn, $button-contrast-colors, border-color);

  .btn {
    border-radius: $border-radius;
    border-width: $border-width;
    border-style: $border-style;
    padding: $padding;
    cursor: $cursor;
  }
}
